<div class="header-main-parent">
        <div class="login-parent">
            <h4 class="account-option">Account-Functionality</h4>

        </div>

        <div class="header-title-parent">
            <h1 class="header-title">Vulnus's Blog</h1>

        </div>

        <div class="header-menu-parent">
            <h4 class="header-option">Home</h4>
            <h4 class="header-option">Dashboard</h4>
        </div>
</div>
    
