<div class="header-main-parent">
        <div class="login-parent">
            <button class="account-option" id="account-functionality">Account-Functionality</button>

        </div>

        <div class="header-title-parent">
            <h1 class="header-title">Vulnus's Blog</h1>

        </div>

        <div class="header-menu-parent">
            <h4 class="header-option">Home</h4>
            <h4 class="header-option">Dashboard</h4>
        </div>
</div>
    
