/* global */


body { 
    width: 100%;
    height: 100%;
}

header {
    background-color: black;
    height: 20%;
}

main {
    height: 70%;
    overflow-y: scroll;
}

footer {
    height: 10%;
    background-color: aqua;
}

/* Header */

.header-main-parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
  
.login-parent {
    height: 10%;
    width: 100%;
    text-align: right;
    padding-right: 2%;
}
  
  .account-option {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    font-size: .75rem; 
    
  }
  
.header-title-parent {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header-title {
    color: gold;
    font-size: 2.5rem; 
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 500;
}
  
.header-menu-parent {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.header-option {
    color: red;
    font-size: 1.5rem; 
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    
}

/* body */

.main-main-parent {
    height: 100%;
    width: 100%;
    background-color: brown;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */ 

.footer-main-parent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.git-btn-href {
    height: 5vh;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-icon {
    font-size: 5vh;
    color: lightgray;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 1s ease-in-out;
}
  
  .github-icon:hover {
    font-size: 7.5vh;
    color: rgb(106, 7, 7);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}


/* form */

.form-main-parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 9999; /* Adjust the z-index value as needed */

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-main-parent.show {
    display: block;
    background-color: rgba(29, 28, 30, 0.607);
}

